.memberinfo{
  text-align: center;
  font-size:16px;
  margin-bottom: 30px;
}
.memberinfo .post{
  font-size: 20px;
} 
.memberinfo .name{
  font-size: 18px;
}

.main-title{
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}