
	footer{
	color: white;
	padding: 20px 5px;
	background-color: #181818;
	font-family: sans-serif;
}

footer .main-title{

	font-family: 'Merriweather', serif; 
	font-size: 20px;
	text-decoration: underline;
}

footer .footer-left img{
	padding-bottom: 10px;
	margin: auto;
}
