section{
	font-size: 20px; 
	text-align: justify;
	background-color: #f1f1f1;
	padding-left:100px!important;
	padding-right: 100px !important;
}

section div .title{
	font-weight: bold;
	font-size:25px;
	margin-bottom: 5px;

}

section div.row{
	margin-bottom: 50px;
}

