.navbar{
	z-index:22 !important;
}
#myNavbar{
	padding-left:0;
}
.navbar #myNavbar a{
	font-size: 18px;
	font-family: 'Merriweather', serif; 	
	padding-left:25px;
	padding-right:25px;
	color:white;
}
	
.navbar #myNavbar a:hover{
	background-color: #ff3333;

	border-bottom: 2px solid #ff3333;
}
  .affix {
      top: 0;
      width: 100%;
  }

.navbar .active a{
	border-bottom: 2px solid white;
	background-color:black!important;
}


.affix + section{
	padding-top: 70px;
}
.navbar #myNavbar ul.dropdown-menu
{
    background-color:#222222; 
}

}